@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Lobster&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  /* margin: 0;
  padding: 0; */
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 100vh;
  display: flex;
  color: #fff;
  font-size: 15px;
}

.grid-1 {
  /* height: 100%;
  width: 240px;
  background: #11101d;
  padding: 6px 14px; */
  /* background-color: rgba(7, 252, 97, 0.8); */
  /* height: 100%;
  width: 240px; */
  background: #11101d;
  padding: 6px 14px;
  position: relative;
  z-index: 2;

}

.sidebar {
  height: 100%;
  width: 240px;
  background: #11101d;
  padding: 6px 14px;
  /* margin-top: 5px;
  margin-left: 1px;
  margin-right: 2px;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid brown;
  background-color: rgba(223, 212, 210, 0);
  color: blue;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-size: 12px;
  font-weight: bolder; */
  }
.sidebar .logo_content .logo{
  color:#fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  
}
.logo_content .longo_name{
  font-size:18px;
  font-weight: 400;
 
}
.logo_content img{
  height: 30px;
  width: 30 px;
  object-fit: cover;
  border-radius: 12;
  margin: 5px;

}
.sidebar #btn{
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  transform: translateX(-60%);
}
.sidebar h2{
  font-size: 20px;
  color: #fff;
  text-align:center
}
.sidebar .sidebar-background img{
  width: 100%;
  padding-top: 25px;
  object-fit: cover;
  border-radius: 12px;
  margin: 5px;
}
.sidebar ul{
  margin: 20px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  border-radius: 12px;
}
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;

}
.sidebar ul li .bx-search{
  position: absolute;
  color: #fff;
  z-index: 99;
}
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}
.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;

}
.sidebar ul li a i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;


}
.map {
  height: 100vh;
  width: 85vw;
}

.ol-custom-mouse-positionHDMS {
  position: fixed;
  top: 5px;
  right: auto;
  bottom: auto;
  left: 80%;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid rgb(0, 255, 98);
  background-color: rgba(225, 225, 225, 0.274);
  color: blue;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;

}

.ol-mouse-position {
/*  top: 8px;*/
top: 5%;
right: auto;
bottom: auto;
left: 81%;
border-radius: 10px;
padding: 5px;
border: 1px solid rgb(0, 255, 98);
background-color: rgba(225, 225, 225, 0.274);
color: blue;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 12px;
font-weight: bolder;

position:fixed;

}

.ol-scale-line {
  background-color: rgba(4, 250, 25, 0.8);
  /*  background-color:rgba(202, 68, 35, 0.8);*/
  /*color: rgb(255, 255, 0);
  font-size: large;
  font-weight: bold;*/
  bottom: 8px;
  left: 50%;
  padding: 2px;
  position: absolute
}

.ol-control {
  background-color: rgba(1, 5, 255, 0.8);
  /*background-color: rgba(8, 77, 65, 0.8);
  font: rgb(255, 255, 0);*/
}

.ol-control:hover {
  background-color:rgba(72, 255, 0, 0.616)
}

.ol-control button {
  background-color:rgba(5, 255, 25, 0.8);
}

.ol-zoom-extent {
  top: 17.5em;
  left: 0.5em;
}

/*.zoom-level {
  top: 18.5em;
  left: 0.5em;
}*/

.ol-zoomslider {
  background-color: rgba(41, 202, 35, 0.4); 
  top: 10%;
  padding: 0;
  width: 25px;
  box-shadow: 0 0 5px rgba(177, 116, 4, 0.95);
  border-radius: 10px;
}

.ol-rotate {
  top: 3em;
  right: 0.5em;
}

.ol-control button:focus, .ol-control button:hover {
  background-color: rgba(28, 3, 245, 0.692);
}

.popup-coordinates {
  color: rgba(22, 6, 245, 0.986);
  /*background-color: rgba(68, 59, 59, 0.8);*/
  background-color:rgb(60, 255, 0);
  margin: 0.5em;
  border-radius: 0.5em;
  /*padding: 5px;*/
}

.overlay-container {
  text-align: center;
  font-size: large;
  padding: 4px 4px;
  color: rgb(255, 255, 255);
  background-color:rgb(42, 165, 69);
  margin: 0.5em;
  border-radius: 0.5em;
}

.overlay-container-wards, .overlay-container-catchment, .overlay-container-subcatchment{
  text-align: center;
  font-size: large;
  padding: 4px 4px;
  color: rgb(255, 255, 255);
  background-color:rgb(42, 165, 69);
  margin: 0.5em;
  border-radius: 0.5em;
}

/* .sub-menu-1 {
  display: none;
} */
